/* *{
    text-align: center;
} */

section{
    margin-left: 200px;
    margin-right: 200px;
}

.logo{
    float: left;
}

.menu{
    float: right;
}

.menu .menu-inicial{
    list-style: none;
}

.menu .menu-inicial .item-menu{
    display: inline-block;
    color: blue;
    text-decoration: underline;
}

form input{
    display: block;
}

/* .menu .menu-inicial .item-menu:hover{
    cursor: pointer;
} */
